# Default ignored files
/shelf/
/workspace.xml
workspace.xml
.replit
replit.nix
venv/
poetry.lock
pyproject.toml
.idea
/kademlia/dht.pickle
.idea/misc.xml
.idea/workspace.xml
/dht.pickle
/our_contact.json
