# Default ignored files
/shelf/
/workspace.xml
workspace.xml
.replit
replit.nix
venv/
poetry.lock
pyproject.toml
.idea
/kademlia_dht/dht.pickle
.idea/misc.xml
.idea/workspace.xml
/dht.pickle
/our_contact.json
misc.xml!/.idea/misc.xml
!/.idea/misc.xml
!/venv/
/kademlia.log
